.login-main-component {
    height: 100vh;
    column-gap: 20px;
    box-sizing: border-box;
}

.login-image-text {
    background-color: #111111;
}

.login-content-component {
    padding: 20px;
    flex: 1;
    border-radius: 8px;
}

.login-text {
    top: 30px;
    left: 30px;
    color: white;
}

.text-error {
    color: var(--error-color);
    font-size: 12px;
}

.border-error {
    border-color: var(--error-color);
}

.login-input {
    width: 100%;
    height: 40px;
    outline: none;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-btn {
    background-color: #ffd43b;
    color: black;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #ffc107;
}

.btn-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-100%);
    background: none;
    border: none;
}

.login-sub-content {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .login-main-component {
        flex-direction: column;
    }

    .login-image-text {
        display: none;
    }

    .login-content-component {
        border: none !important;
        width: 100vw
    }

    .login-sub-content {
        width: 100vw;
    }
}

@media screen and (max-width: 480px) {
    .login-main-component {
        padding: 0px;
    }

    .login-content-component {
        padding: 15px;
    }

    .login-text {
        font-size: 1rem;
    }

    .login-btn {
        font-size: 0.9rem;
    }
}