.sticky-wall-main {
    border: 2px solid blue;
    padding: 20px;
}
.sticky-wall-heading {
    color: black;
}

.sticky-wall-content {
    border: 2px solid red;
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.sticky-wall-content-text {
    padding: 10px;
    border: 2px solid green;
    height: 250px;
    width: 250px;
    white-space: normal; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}