
.today-main {
    margin-top: 20px;
    padding: 10px;
}

.today-notification {
    font-size: 30px;
    margin-left: 30px;
    color: black;
    border: 1px solid whitesmoke;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5px;
}

.today-main-title {
    font-size: 30px;
    color: black;
    margin-left: 20px;
    font-weight: 1000 !important;
    margin-top: 8px;
}

.today-section {
    /* padding-left: 10px; */
    /* padding-right: 20px; */
    border-radius: 10px;
    /* border: 1px solid red; */
}

.today-todo-list-container {
    border-bottom: 2px solid whitesmoke;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
}

.today-todo-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.today-todo-sub-content {
    display: flex;
    margin-left: 15px;
    align-items: center;
}

.today-todo-sub-content p {
    margin-left: 20px;
}

.today-main-list {
    display: flex;
    align-items: center;
    margin-left: 48px;
}

.today-main-list-title {
    margin-top: 5px;
}

.today-todo-option {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.today-todo-option-task {
    background-color: whitesmoke;
    height: 12px;
    width: 18px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.today-main-list-color-box {
    height: 12px;
    width: 12px;
    border-radius: 3px
}

.today-main-list-sub-title {
    margin-left: 5px;
}