.today-notification {
    font-size: 30px;
    margin-left: 30px;
    color: black;
    border: 1px solid whitesmoke;
    width: 50px;
}

.today-section {
    padding-left: 10px;
    height: 100vh;
    overflow-y: scroll;
}

.today-main-list {
    margin-left: 35px;
}

.today-todo-component {
    overflow: scroll;
}

.today-todo-option-task {
    background-color: whitesmoke;
    height: 15px;
    width: 25px;
    border-radius: 5px;
}

.today-main-list-color-box {
    height: 12px;
    width: 12px;
    border-radius: 3px;
}