:root {
    --primary-color: #007297;
    --secondary-color: #2ecc71;
    --font-size-large: 1.5rem;
    --error-color: red;
    ---button-color: ;
    ---sub-heading-color: #464646;
    ---navbar-background-color: #f4f4f4;
    ---black-color: black;
    ---main-heading-color: #212529;
}