.navbar-drawer {
    padding: 20px;
    border-width: 2px;
    border-radius: 15px;
    height: 100vh;
    justify-content: space-between;
}

.menu-list-option-content {
    background-color: #ff6b6b;
    height: 12px;
    width: 12px;
    border-radius: 3px
}

.menu-tags-options p {
    padding: 2px 5px;
}

.menu-notification {
    border-radius: 3px;
    width: 25px;
    background-color: #ebebeb
}

.menu-icon-toggle {
    margin-top: 20px;
}

.list-content {
    overflow-y: auto;
    height: 15vh;
    scrollbar-width: none;
}