.upcoming-main-title {
    display: flex;
    align-items: center;
}

.main-heading {
    font-size: 30px;
    color: black;
    margin-left: 20px;
    font-weight: 1000 !important;
    margin-top: 10px;
}

.upcoming-notification {
    font-size: 30px;
    margin-left: 30px;
    color: black;
    border: 1px solid whitesmoke;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5px;
}

.main-container {
    padding-left: 5px;
    margin-left: 20px;
    margin-top: 30px;
}

.today-main-section {
    border: 2px solid whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.todo-heading {
    margin-top: 15px;
    color: rgb(65, 65, 65);
}

.today-add-input {
    margin-top: 10px;
    font-size: 13px;
}

.today-main-todo {
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid whitesmoke;
    font-size: 13px;
    flex-wrap: wrap;
}

.todo-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5px;
}

.todo-sub-content {
    margin-left: 15px;
    display: flex;
}

.todo-checkbox {
    display: flex;
}

.today-content-title {
    margin-left: 20px;
}

.todo-icon {
    height: 15px !important;
}

.todo-main-list {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 2px;
}

.todo-option {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.todo-option-substask-task {
    background-color: whitesmoke;
    height: 12px;
    width: 18px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-option-substask-list {
    height: 12px;
    width: 12px;
    border-radius: 3px;
}

.todo-option-substask-list-title {
    margin-left: 5px;
}

.today-sub-section {
    display: flex;
    height: 300px;
    margin-top: 15px;
    gap: 15px;
}

.this-weak-tomoarrow-container {
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 50%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

.todo-list-container {
    border-bottom: 2px solid whitesmoke;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}